





*.dbk+
*.dbkxi


.cabal-sandbox/
cabal.sandbox.config


batch-lmodules-sb.el
e-dir-locals.el
lmodules.el

org/

keep/

dist/

website


# in general exclude shake build files...
_shake/
..database
Build.hs
build.sh


# later...
test

remark-*
note-*
